@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Swole Patrol</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Welcome to Swole Patrol</a>.</p>
    <p>This is a </p>
</div>
